aiofiles==0.4.0
atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.5.3
bottle==0.12.13
certifi==2017.7.27.1
chardet==3.0.4
Click==7.0
colorama==0.3.9
decorator==4.0.11
elasticsearch==5.3.0
-e git+https://github.com/drkane/find-that-charity-scrapers.git@b3192605ab32ff345c5c08ef314493bd969ff447#egg=findthatcharity_import
gunicorn==19.7.1
h11==0.8.1
idna==2.6
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.1
MechanicalSoup==0.10.0
more-itertools==6.0.0
pluggy==0.9.0
py==1.4.34
pyexcel-ezodf==0.3.4
pyexcel-io==0.5.9.1
pyexcel-ods3==0.5.2
pymongo==3.7.1
pytest==3.1.2
python-dateutil==2.6.1
python-multipart==0.0.5
python-slugify==3.0.2
PyYAML==4.2b4
requests==2.21.0
six==1.10.0
soupsieve==1.8
SQLAlchemy==1.3.1
starlette==0.11.4
text-unidecode==1.2
titlecase==0.12.0
urllib3==1.24.1
uvicorn==0.6.1
validators==0.11.3
websockets==7.0
XlsxWriter==1.1.5
