{% set org_type_key = org_types|selectattr("key", "in", key_types)|list %}
<form method="get" id="search-autocomplete" data-orgtypes='{{org_type_key|tojson}}'>
    <div class="cf mt3 flex">
        <input name="q" class="f6 f5-l input-reset bl bt bb br br-0 b--black-20 fl near-black bg-white pa3 lh-solid w-100 w-50-ns br2-ns br--left-ns" type="text" placeholder="Search for a charity name or number"
            value="{{term}}" autocomplete='off'>
        <select name="orgtype" class="f6 f5-l input-reset bl bt bb br-0 b--black-20 fl near-black bg-white pa3 lh-solid w-100 w-30-ns">
            <option value="all">All organisation types</option>
            <option disabled>----------</option>
            {% for org_type in org_type_key %}
                {% if org_type == selected_org_type -%}
                <option selected="selected">{{ org_type.key }}</option>
                {% else -%}
                <option>{{ org_type.key }}</option>
                {%- endif -%}
            {%- endfor -%}
        </select>
        <input type="submit" value="Search" class="f6 f5-l button-reset br bt bb bl-0 b--black-20 fl pv3 tc bg-animate bg-yellow dim near-black pointer w-100 w-20-m w-20-l br2-ns br--right-ns">
    </div>
</form>