{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="content is-large">
            <p>A search engine for non profit organisations working in the UK</p>
        </div>
        <div style="padding-top: 30px; padding-bottom: 60px;">
            {% include '_search_form.html' %}
        </div>

        {# <div class="columns"> #}
            <div class="column" style="padding-top: 30px; padding-bottom: 60px;">
                <div class="content is-medium">
                    <ul>
                        <li>Lookup individual charities based on their charity number:
                            <ul>
                                <li>Charity registered in England and Wales: <a href="/charity/225922">/charity/225922</a></li>
                                <li>Charity registered in Scotland: <a href="/charity/SC003558">/charity/SC003558</a></li>
                                <li>Charity registered in Northern Ireland: <a href="/charity/NIC100012">/charity/NIC100012</a></li>
                            </ul>
                            These can also be accessed as json data by adding <code>.json</code> to the end of the url
                        </li>
                        <li>Lookup other types of organisations with an <a href="http://org-id.guide/" target="_blank">OrgID</a>:
                            <ul>
                                <li>Community Interest Company: <a href="/orgid/GB-COH-11040152">/orgid/GB-COH-11040152</a></li>
                                <li>Local Authority: <a href="/orgid/GB-LAE-VAL">/orgid/GB-LAE-VAL</a></li>
                                <li>University: <a href="/orgid/GB-EDU-133817">/orgid/GB-EDU-133817</a></li>
                            </ul>
                            These can also be accessed as json data by adding <code>.json</code> to the end of the url
                        </li>
                        <li>
                            <a href="/adddata/">
                                Add data about organisations to a CSV file
                            </a>    
                        </li>
                        <li>As an <a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">OpenRefine
                                reconciliation service</a> via <code>/reconcile</code>.</li>
                        <li>Find a <a href="/random?active=true">random charity</a>.</li>
                    </ul>
                </div>
            </div>
            <div class="column content" style="padding-top: 30px; padding-bottom: 60px;">
                <h3>Types of organisation available</h3>
                <div class="field is-grouped is-grouped-multiline">
                {% for o in org_types if o.key in key_types %}
                    <div class="control">
                        <div class="tags has-addons">
                            <a href="/orgid/type/{{ o.key }}" class="tag is-light is-medium">{{ o.key }}</a>
                            <span class="tag is-info is-medium">{{ "{:,.0f}".format(o.doc_count) }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="column content" style="padding-top: 30px; padding-bottom: 60px;">
                <h3>Data sources</h3>
                <div class="field is-grouped is-grouped-multiline">
                {% for o in sources_count %}
                    <div class="control">
                        <div class="tags has-addons">
                            <a href="/orgid/source/{{ o.key }}" class="tag is-light is-medium">
                                {{ sources.get(o.key, {}).get("publisher", {}).get("name", o.key) }}
                            {% if sources.get(o.key, {}).get("publisher", {}).get("duplicate", False) %}
                                <br><span class="is-size-7">({{ sources.get(o.key, {}).get("title") }})</span>
                            {% endif %}
                            </a>
                            <span class="tag is-info is-medium">{{ "{:,.0f}".format(o.doc_count) }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {# </div> #}
    </div>
</div>
{% endblock %}
