{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="content is-large">
            <p>A search engine for UK charities.</p>
        </div>
        <div style="padding-top: 30px; padding-bottom: 160px;">
            {% include '_search_form.html' %}
        </div>

        {# <div class="columns"> #}
            <div class="column">
                <div class="content is-medium">
                    <p>Other ways to use:</p>
                    <ul>
                        <li>Find details for an individual charity via <code>/charity/1234567</code>. Examples:
                            <ul>
                                <li>Charity registered in England and Wales: <a href="/charity/225922">225922</a></li>
                                <li>Charity registered in Scotland: <a href="/charity/SC003558">SC003558</a></li>
                                <li>Charity registered in Northern Ireland: <a href="/charity/NIC100012">NIC100012</a></li>
                            </ul>
                            These can also be accessed as json data by adding <code>.json</code> to the end of the url
                        </li>
                        <li>As an <a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">OpenRefine
                                reconciliation service</a> via <code>/reconcile</code>.</li>
                        <li>Find a <a href="/random?active=true">random charity</a>.</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h3>Types of organisation available</h3>
                <div class="field is-grouped is-grouped-multiline">
                {% for o in org_types if o.key in key_types %}
                    <div class="control">
                        <div class="tags has-addons">
                            <a href="/orgid/type/{{ o.key }}" class="tag is-light is-medium">{{ o.key }}</a>
                            <span class="tag is-info is-medium">{{ "{:,.0f}".format(o.doc_count) }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="column">
                <h3>Data sources</h3>
                <div class="field is-grouped is-grouped-multiline">
                {% for o in sources_count %}
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-light is-medium">{{ sources.get(o.key, {}).get("publisher", {}).get("name", o.key) }}</span>
                            <span class="tag is-info is-medium">{{ "{:,.0f}".format(o.doc_count) }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {# </div> #}
    </div>
</div>
{% endblock %}
