{% extends 'base.html' %}
{% set heading = orgs["name"] %} 
{% set subtitle = "Org ID: {}{}".format(
    orgs["id"],
    "" if orgs.active else " | Inactive"
) %}

{% macro show_sources(v) %}
<span class="has-text-weight-light is-size-7">
  [Source: {% for s in v.sources -%}
    {%- if sources.get(s) -%}
      {{ sources.get(s).publisher.name }}
    {%- else -%}
      {{ s }}
    {%- endif -%}
    {%- if not loop.last %}, {% endif -%}
  {%- endfor -%}]
  {# [{{ v["sources"]|list_to_string }}] #}
</span>
{% endmacro %}

  {% block subtitle %}
  <section class="hero is-primary is-bold">
      <div class="hero-body">
          <div class="container">
            <h1 class="title">
                {{ orgs["name"] }}
            </h1>
            <div class="field is-grouped is-grouped-multiline">
              {% for k, v in orgs.data.orgIDs.items() %}
              {% set org_id = v.value.split("-") %}
              <div class="control">
                <div class="tags has-addons" title="Organisation identifier">
                  {# <a href="http://org-id.guide/list/{{ '-'.join(org_id[0:2]) }}" target="_blank" class="tag is-dark is-medium">{{ "-".join(org_id[0:2]) }}</a> #}
                  <a href="/orgid/{{ v.value }}" class="tag is-dark is-medium">{{ "-".join(org_id) }}</a>
                </div>
              </div>
              {% endfor %}
              {# <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-primary is-medium">?</a>
                </div>
              </div> #}
            </div>
            <div class="tags are-medium">
              {% if orgs.active %}
              <span class="tag is-medium is-success">Active</span>
              {% else %}
              <span class="tag is-medium is-danger">Inactive</span>
              {% endif %}
              {% for k, v in orgs.data.organisationType.items() if v.value in key_types %}
              <a class="tag is-medium is-info" href="/orgid/type/{{ v.value }}">{{ v.value }}</a>
              {% endfor %}
            </div>
          </div>
      </div>
  </section>
  {% endblock %}

{% block content %}
<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <div class="tags are-medium">
          {% for k, v in orgs.data.organisationType.items() if v.value not in key_types %}
          <a class="tag is-small is-light" href="/orgid/type/{{ v.value }}">{{ v.value }}</a>
          {% endfor %}
        </div>
        <div class="content">
          {% for k, v in orgs.data.description.items() if v.value %}
          {% if loop.first %}<h4>Description</h4>{% endif %}
          <p>
            {{ v.value }}
            {{ show_sources(v) }}
          </p>
          {% endfor %}
          {% if orgs.names %}
          <h4>Also known as</h4>
          <ul>
            {% for k, v in orgs.names.items() %}
            <li>{{ v.value }} {{ show_sources(v) }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <br>
      </div>
    </div>
    <div class="columns is-multiline">

    {% for org in orgs.orgs %}
    <div class="column is-half">
      <div class="card">
        <header class="card-header">
          <div class="card-header-title is-block">
            <span class="has-text-weight-light is-inline-block">Organisation record from </span>
            {% for s in org.sources if sources.get(s) %}
            <a href="{{ sources[s].publisher.website }}" target="_blank" class="is-inline-block">
              {{ sources[s].publisher.name }}
            </a><br>
            <i class="has-text-weight-light is-size-7">Last updated {{ "{:%d %B %Y}".format(sources[s].modified) }}</i>
            {% endfor %}
          </div>
          {# <p class="card-header-title is-size-7 has-text-weight-light">
            {% for s in org.sources if sources.get(s) %}
            <span class="">{{ sources[s].publisher.name }}</span>
            {% endfor %}
          </p> #}
        </header>
        <div class="card-content">
          <div class="is-clearfix">
            <p>
              <strong>{{ org.name }}</strong> ({{ org.orgIDs[0] }})
            </p>
            <div class="tags are-small">
              {% if org.active %}
              <span class="tag is-small is-success">Active</span>
              {% else %}
              <span class="tag is-small is-danger">Inactive</span>
              {% endif %}
              {% for t in org.organisationType %}
              <span class="tag is-small">{{ t }}</span>
              {% endfor %}
            </div>
            {% for v in org.orgIDs %}
              {% if v.startswith("GB-COH-") %}
                <p>
                  <strong class="is-size-7">Company number</strong><br>
                  <a href="https://beta.companieshouse.gov.uk/company/{{ v.replace('GB-COH-', '') }}" target="_blank">{{ v.replace('GB-COH-', '') }}</a>
                </p>
              {% endif %}
              {% if v.startswith("GB-CHC-") %}
                <p>
                  <strong class="is-size-7">CCEW Charity number</strong><br>
                  <a href="http://beta.charitycommission.gov.uk/charity-details/?regid={{ v.replace('GB-CHC-', '') }}&subid=0" target="_blank">{{ v.replace('GB-CHC-', '') }}</a>
                </p>
              {% endif %}
              {% if v.startswith("GB-NIC-") %}
                <p>
                  <strong class="is-size-7">CCNI Charity number</strong><br>
                  <a href="http://www.charitycommissionni.org.uk/charity-details/?regid={{ v.replace('GB-NIC-', '').replace('NIC', '')}}&subid=0" target="_blank">{{ v.replace('GB-NIC-', '') }}</a>
                </p>
              {% endif %}
              {% if v.startswith("GB-SC-") %}
                <p>
                  <strong class="is-size-7">OSCR Charity number</strong><br>
                  <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number={{ v.replace('GB-SC-', '') }}" target="_blank">{{ v.replace('GB-SC-', '') }}</a>
                </p>
              {% endif %}
            {% endfor %}
            <p>
              <strong class="is-size-7">
                Identifiers 
                <span class="is-size-7">(using <a href="http://org-id.guide/about" target="_blank" class="">org-id</a>)</span>
              </strong><br>
              <ul>
              {% for orgid in org.orgIDs %}
                <li>{{orgid}}</li>
              {% endfor %}
              </ul>
            </p>
            {% if org.dateRegistered %}
            <p>
              <strong class="is-size-7">Registered</strong><br>
              {{ "{:%d %B %Y}".format(org.dateRegistered) }}
            </p>
            {% endif %}
            {% if org.dateRemoved %}
            <p>
              <strong class="is-size-7">Removed</strong><br>
              {{ "{:%d %B %Y}".format(org.dateRemoved) }}
            </p>
            {% endif %}
            {% if org.postalCode %}
            <p>
              <strong class="is-size-7">Postcode</strong><br>
              <td>{{ org.postalCode }}</td>
            </p>
            {% endif %}
            {% if org.url %}
            <p>
              <strong class="is-size-7">Website</strong><br>
              <a href="{{ org.url }}">{{ org.url|replace("http://", "")|replace("https://", "") }}</a>
            </p>
            {% endif %}
            {% if org.domain %}
            <p>
              <strong class="is-size-7">Domain</strong><br>
              <code>{{ org.domain }}</code>
            </p>
            {% endif %}
            {% if org.latestIncome %}
            <p>
              <strong class="is-size-7">Latest income</strong><br>
              &pound;{{ "{:,.0f}".format( org.latestIncome )}}
              {% if org.latestIncomeDate %}
              {{ org.latestIncomeDate }}
              {% endif %}
            </p>
            {% endif %}
            {# {% for s in org.sources if sources.get(s) %}
            <p class="has-text-weight-light is-size-7 is-pulled-right">
              <strong>Data source</strong>:
              <a href="{{ sources[s].publisher.website }}" target="_blank">
                {{ sources[s].publisher.name }}
              </a><br>
              <i>Last updated {{ "{:%d %B %Y}".format(sources[s].modified) }}</i>
            </p>
            {% endfor %} #}
          </div>
        </div>
      </div>
      <br>
      {# {% if charity["geo"]["location"] %}
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Location</p>
        </header>
        <div class="card-content">
          <div class="content">
            <table class="table">
              <tbody>
                {% if charity.get("geo", {}).get("location") %}
                <tr>
                  <th>Latitude/longitude</th>
                  <td>
                    <a href="#">
                      {{ charity.get("geo", {}).get("location",{}).get("lat") }},
                      {{ charity.get("geo", {}).get("location",{}).get("lon") }}
                    </a>
                  </td>
                </tr>
                {% endif %}
                <!--<tr><th>Local Authority</th><td>{{ charity.get("geo", {}).get("areas",[]) }}</td></tr>-->
                <tr><th>Postcode</th><td>{{ charity.get("geo", {}).get("postcode") }}</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %} #}


    </div>
    {% endfor %}
  </div>


  </div>
  <div class="column is-one-third">

    {% if orgs.data.url or orgs.links %}
    <article class="message is-info">
      <div class="message-header">
        <p class="">Links</p>
      </div>
      <div class="message-body">
        <ul>
          {% for k, v in orgs.data.url.items() %}
          <li><a href="{{ v.value }}" target="_blank">Organisation website</a> {{ show_sources(v) }}</li>
          {% endfor %}
          {% for link, text in orgs.links %}
          <li><a href="{{ link }}" target="_blank">{{ text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </article>
    {% endif %}
    
    {% if orgs.data.location.keys()|length %}
    <article class="message is-info">
      <div class="message-header">
        <p class="">Locations</p>
      </div>
      <div class="message-body">
        <ul>
        {% for k, v in orgs.data.location.items() %}
          {% if v.value.geoCode and v.value.geoCode|regex_search("[ENWS][0-9]{8}") %}
          <li>
            <a href="https://postcodes.findthatcharity.uk/areas/{{ v.value.geoCode }}.html" target="_blank">{{ v.value.name }}</a>
            {% if v.value.geoCodeType %}({{ v.value.geoCodeType }}){% endif %}
            {{ show_sources(v) }}
          </li>
          {% else %}
          <li>
            {{ v.value.name }}
            {% if v.value.geoCodeType %}({{ v.value.geoCodeType }}){% endif %}
            {{ show_sources(v) }}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </article>
    {% endif %}
    
    {% if orgs.data.parent.keys()|length %}
    <article class="message is-info">
      <div class="message-header">
        <p class="">Parent organisations</p>
      </div>
      <div class="message-body">
        <ul>
        {% for k, v in orgs.data.parent.items() %}
          {% if v.value in parent_orgs %}
          <li><a href="/orgid/{{ v.value }}" target="_blank">{{ parent_orgs[v.value].name }}</a> {{ show_sources(v) }}</li>
          {% else %}
          <li><a href="/orgid/{{ v.value }}" target="_blank">{{ v.value }}</a> {{ show_sources(v) }}</li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </article>
    {% endif %}

    {% if child_orgs|length %}
    <article class="message is-info">
      <div class="message-header">
        <p class="">Child organisations</p>
      </div>
      <div class="message-body">
        <ul>
        {% for o in child_orgs %}
          <li><a href="/orgid/{{ o.id }}" target="_blank">{{ o.name }}</a> {{ show_sources(o) }}</li>
        {% endfor %}
        </ul>
      </div>
    </article>
    {% endif %}

  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Data sources</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              {% for s in orgs.sources if sources.get(s) %}
              <tr id="{{ s }}">
                <td>
                  <strong><a href="{{ sources[s].publisher.website }}">{{ sources[s].publisher.name }}</a></strong><br>
                  {% if sources[s].title != sources[s].publisher.name %}
                  {{ sources[s].title }}
                  {% endif %}
                </td>
                <td class="is-size-7">{{ sources[s].description }}</td>
                <td>{{ "{:%Y-%m-%d}".format(sources[s].modified) }}</td>
                <td><a href="{{ sources[s].license }}">{{ sources[s].license_name }}</a></td>
                <td>
                {% for d in sources[s].distribution %}
                  {% if loop.length > 1 %}
                  <li>
                  <a class="is-size-7" href="{{ d.accessURL }}">{{ d.title }}</a>
                  <a class="button is-small" href="{{ d.downloadURL }}">Download data</a>
                  </li>
                  {% else %}
                  <a class="button is-small" href="{{ d.accessURL }}">Access data</a>
                  <a class="button is-small" href="{{ d.downloadURL }}">Download data</a><br>
                  {% endif %}
                {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}