{% from 'components/org_id.html' import orgid_link %}
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,700|Raleway:400,700">
  <link rel="stylesheet" href="https://dkane.net/theme/css/style.css" />
  <link rel="stylesheet" href="https://dkane.net/theme/css/pygment.css" />
  <title>{{ org.name }} | Find that Charity</title>
</head>
  <body class="w-100 sans-serif near-black base-font f6">
    <div class="content is-small" style="padding: 5px;">
      {% if not hide_title %}
      <h3 class="mt0 mb2 f6">
        {{ org.name }}
      </h3>
      <ul class="list mt2 pa0">
        {% for orgid in org.get_orgids() %}
          {% set v = orgid.value %}
          <li class="dib">
            {{ orgid_link(v, request) }}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      <p class="mt2 mb0 f6">
        {% if org.active %}
        <strong>Active</strong>
        {% else %}
        <strong>Inactive</strong>
        {% endif %}
         |
        <a href='{{ request.url_for("orgid_html", orgid=org.id) }}' target="_blank">
          View full profile</a>
        {% if org.main.url %}
         |
        <a href="{{ org.main.url }}" target="_blank">
          {{ org.main.url|replace("http://", "")|replace("https://", "") }}</a>
        {% endif %}
      </p>
      <p class="mt2 mb0 f6">
        {% for k, v in org.organisationType.items() %}
          {% if not loop.first %}|{% endif %} <span class="dib">{{ v }}</span>
        {% endfor %}
      </p>
      <h5 class="mt2 mb0 f6"><strong>Identifiers</strong></h5>
      <table class="collapse ba br2 b--black-10 pv2 ph3 f6 mt2">
        {% for orgid in org.get_orgids() %}
          {% set v = orgid.value %}
          {% if v.startswith("GB-CHC-") %}
          <tr class="striped--light-gray">
            <th class="tl pa1">Charity Number (CCEW)</th>
            <td class="tr pa1">
            <a href="http://beta.charitycommission.gov.uk/charity-details/?regid={{ v.replace('GB-CHC-', '') }}&subid=0" target="_blank">{{ v.replace('GB-CHC-', '') }}</a>
            </td>
          </tr>
          {% elif v.startswith("GB-NIC-") %}
          <tr class="striped--light-gray">
            <th class="tl pa1">Charity Number (CCNI)</th>
            <td class="tr pa1">
            <a href="http://www.charitycommissionni.org.uk/charity-details/?regid={{ v.replace('GB-NIC-', '').replace('NIC', '')}}&subid=0" target="_blank">{{ v.replace('GB-NIC-', '') }}</a>
          </td>
          </tr>
          {% elif v.startswith("GB-SC-") %}
          <tr class="striped--light-gray">
            <th class="tl pa1">Charity Number (OSCR)</th>
            <td class="tr pa1">
            <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number={{ v.replace('GB-SC-', '') }}" target="_blank">{{ v.replace('GB-SC-', '') }}</a>
          </td>
          </tr>
          {% elif v.startswith("GB-COH-") %}
          <tr class="striped--light-gray">
            <th class="tl pa1">Company Number</th>
            <td class="tr pa1">
            <a href="https://beta.companieshouse.gov.uk/company/{{ v.replace('GB-COH-', '') }}" target="_blank">{{ v.replace('GB-COH-', '') }}</a>
          </td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
      <p class="mt2 mb0 f6"><strong>Location:</strong>
      {% if org.main.postalCode %}
        {{ org.main.postalCode }}
      {% endif %}
      {# {% for k, v in org.data.location.items() %}
        {{v.value.name|title}}{% if not loop.last %},{% endif %}
      {% endfor %} #}
      </p>
      {% for record in org.records if record.latestIncome %}
      {% if loop.first %}
      <p class="mt2 mb0 f6"><strong>Latest Income:</strong>
        &pound;{{ "{:,.0f}".format( record.latestIncome )}}
      </p>
      {% endif %}
      {% endfor %}
      {% if org.names %}
      <h5 class="mt2 mb0 f6"><strong>Other Names:</strong></h5>
      <ul class="ma0">
        {% for k, v in org.names.items() %}
          <li>{{ v.value }}{# <br><small class="has-text-grey">({{ show_sources(v) }})</small> #}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p class="mb0 mt4 pa0 f6 mid-gray">
        <a href="{{url_for('index')}}" class="link mid-gray underline">findthatcharity</a>
        © {{now.year}} 
        <a href="https://drkane.net/" class="link mid-gray underline">David Kane</a>
      </p>
    </div>
  </body>
</html>