{% extends 'base.html' %}
{% set heading = query|list_to_string %}
{% set selected_org_type = query|list_to_string %}
{% if pages.last_page and pages.last_page > 1 %}
    {% set subtitle = "Showing organisation {:,.0f} to {:,.0f} out of {:,.0f}".format(
        pages.start_item,
        pages.end_item,
        pages.total_items
    ) %}
{% else %}
    {% set subtitle = "Showing all {:,.0f} organisations".format(pages.total_items) %}
{% endif %}

{% block content %}
<main class="">
  <div class="fl w-100 w-70-l pa2">
        {# {% include '_search_form.html' %} #}
        {% include '_search_results.html' %}
  </div>
  <div class="fl w-100 w-30-l pa2">
    <h4 class="ma0 pa0">Related organisation types</h4>
    <ul class="mb4 mt2 list mh0 pa0">
        {% for t in aggs.group_by_type.buckets if t.key not in term and t.key in key_types %}
            <li class="w-100 f4">
                <div class="">
                    <a class="link dark-blue underline-hover" href="/orgid/type/{{ t.key }}">{{ t.key }}</a>
                    <span class="ml3 mid-gray">{{ "{:,.0f}".format(t.doc_count) }}</span>
                </div>
            </li>
        {% endfor %}
        {% for t in aggs.group_by_type.buckets if t.key not in term and t.key not in key_types %}
            <li class="w-100 f5">
                <div class="">
                    <a class="link dark-blue underline-hover" href="/orgid/type/{{ t.key }}">{{ t.key }}</a>
                    <span class="ml3 mid-gray">{{ "{:,.0f}".format(t.doc_count) }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <h4 class="ma0 pa0">Data sources</h4>
    <ul class="mb4 mt2 list mh0 pa0">
        {% for t in aggs.group_by_source.buckets if sources.get(t.key) %}
            <li class="w-100 f4">
                <div class="">
                    <a class="link dark-blue underline-hover" href="/orgid/source/{{ t.key }}">{{ sources[t.key].publisher.name }}</a>
                    <span class="ml3 mid-gray">{{ "{:,.0f}".format(t.doc_count) }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}