{% extends 'base.html' %}
{% set heading = term|list_to_string %}
{% set subtitle = "10 random organisations" %}

{% block content %}
<div class="columns">
  <div class="column">
        {% include '_search_results.html' %}
  </div>
  <div class="column is-one-third content">
    <h4>Related organisation types</h4>
    <div class="field is-grouped is-grouped-multiline">
        {% for t in aggs.group_by_type.buckets if t.key not in term %}
            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-light is-medium" href="/orgid/type/{{ t.key }}">{{ t.key }}</a>
                    <span class="tag is-info is-medium">{{ "{:,.0f}".format(t.doc_count) }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <h4>Data sources</h4>
    <div class="field is-grouped is-grouped-multiline">
        {% for t in aggs.group_by_source.buckets if sources.get(t.key) %}
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light is-medium">{{ sources[t.key].publisher.name }}</span>
                    <span class="tag is-info is-medium">{{ "{:,.0f}".format(t.doc_count) }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}